<h1>Edit Historical Moment </h1>

<%= form_for(@historicalMoment) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :start_date %>
<%= f.date_field :start_date %>

<%= f.label :end_date %>
<%= f.date_field :end_date %>

<%= f.label :img_url %>
<%= f.text_field :img_url %> <br><br>

<%= f.submit %>
 
<% end %>