<h1> <%= @historicalMoment.name %> </h1>


<h3> Events: </h3> 
<ul>
<% @historicalMoment.events.each do |event| %>
<li> <%= link_to event.name, event_path(event) %> </li>
<% end %>
</ul>

<h3> Actors: </h3> 
<ul>
<% @historicalMoment.actors.each do |actor| %>
<li> <%= link_to actor.name, actor_path(actor) %> </li> 
<% end %>
</ul>

<h3> Documents: </h3> 
<ul>
<% @historicalMoment.documents.each do |document| %>
<li> <%= link_to document.title, document_path(document) %> </li> 
<% end %>
</ul>
<h3>

<%= link_to "Create Event", new_event_path %>
|| 
<%= link_to "Create Actor", new_actor_path %>
|| 
<%= link_to "Edit Historical Moment",  edit_historical_moment_path(@historicalMoment) %>
||
<%= link_to "Delete Historical Moment", historical_moment_path(@historicalMoment), method: :delete, data: { confirm: 'Are you sure?' }  %> </h3>