<h1> <%= @historicalMoment.name %> </h1>


<h3> Events: </h3> 
<ul>
<% @historicalMoment.events.each do |event| %>
<li> <%= link_to event.name, event_path(event) %> </li>
<% end %>
</ul>

<h3> Actors: </h3> 
<ul>
<% @historicalMoment.actors.each do |actor| %>
<li> <%= link_to actor.name, actor_path(actor) %> </li> 
<% end %>
</ul>

<h3> Documents: </h3> 
<ul>
<% @historicalMoment.documents.each do |document| %>
<li> <%= link_to document.title, document_path(document) %> </li> 
<% end %>
</ul>

<%= form_tag new_event_path, method: :get do %>
 <%= submit_tag "Create Historical Event" %>
<% end %>
<br>

<%= form_tag edit_historical_moment_path, method: :get do %>
<%= submit_tag "Update Historical Moment" %>
<% end %> <br>
<%= form_tag historical_moment_path(@historicalMoment), method: :delete do %>
 <%= submit_tag "Delete Historical Moment", data: { confirm: 'Are you sure?' } %>
<% end %>

