<!DOCTYPE html>
<html>
  <head>
    <title>HistoricalMoments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h3> <%= link_to "Hist. Moments", historical_moments_path %>  &nbsp <%= link_to "Hist. Events", events_path %>
  &nbsp <%= link_to "Hist. Actors", events_path %> &nbsp <%= link_to "Hist. Docs", documents_path %></h3>
    <%= yield %>
  </body>
</html>
