<h1> <%= @actor.name %> </h1>
<h3>Date of Birth: <%= @actor.birth_date %> <br>
Date of Death: <%= @actor.death_date %> <br>
Bio: <%= @actor.bio %> <br>
Title: <%= @actor.title %> <br> <br>

<% if !(Location.find_by(actor_id: @actor.id)) %>
<p> <font color="red" > Remember to <%= link_to "add an event", new_location_path %> to this actor </font></p>
<%end%>
<% @actor.events.each do |event| %> 
    Participated In: <%= link_to event.name, event_path(event) %> <br>
    <% end %><br> 
    <%= link_to "Edit", edit_actor_path(@actor)%> || <%= link_to "Add Event", new_location_path %> ||
<%= link_to "Delete", actor_path(@actor), method: :delete, data: { confirm: 'Are you sure?' } %> || <%= link_to "All Actors", actors_path%> || 
</h3>

    <img src= <%= @actor.img_url %> >


   
  