<h1>Create New Historical Event </h1>

<%= form_for(@event) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br><br>

<%= f.label :description %>
<%= f.text_area :description %> <br><br>

<%= f.label :img_url %>
<%= f.text_field :img_url %> <br><br>

<%= f.label :event_date %>
<%= f.date_field :event_date %> <br><br>

<%= f.collection_select :historical_moment_id, HistoricalMoment.all, :id, :name %> <br><br>

<%= f.submit %>
 
<% end %>