<h1>The event: <%= @event.name %> </h1>
<h4>When it took place:</h4> <%= @event.event_date %> 

<h4>What happend here? </h4> <%= @event.description %> 

<h4> Main actors: </h4>
<ul>
<% @event.actors.each do |actor| %>
<li><%= actor.name %> </li>
<% end %>  
</ul>

<%= form_tag new_actor_path, method: :get do %>
<%= submit_tag "Add Actor To Event" %>
<% end %>
<br>

<img src= <%=@event.img_url %> alt="">
<br><br>
<%= form_tag edit_event_path, method: :get do %>
<%= submit_tag "Update Event" %>
<% end %>

<%= form_tag event_path(@event), method: :delete do %>
 <%= submit_tag "Delete Event", data: { confirm: 'Are you sure?' } %>
<% end %>



 





