<h1>The event: <%= @event.name %> </h1>
<h3>When it took place: <%= @event.event_date %> </h3>
<br>
<h3>What happend here? <br><br> <%= @event.description %> </h3>

<img src= <%=@event.img_url %> alt="">
<br><br>
<%= form_tag edit_event_path, method: :get do %>
<%= submit_tag "Update Event" %>
<% end %>

<%= form_tag event_path(@event), method: :delete do %>
 <%= submit_tag "Delete Event", data: { confirm: 'Are you sure?' } %>
<% end %>



 





